<!--Footer-part-->

<div class="row-fluid">
    <div id="footer" class="span12"> 2013 &copy; Matrix Admin. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> </div>
</div>

<!--end-Footer-part-->
<script src="__ADMIN__/js/jquery.min.js"></script> 
<script src="__ADMIN__/js/select2.min.js"></script>
<script src="__ADMIN__/js/jquery.ui.custom.js"></script> 
<script src="__ADMIN__/js/bootstrap.min.js"></script> 
<script src="__ADMIN__/js/matrix.js"></script>
</body>
</html>
