<include file="Head:head"/>
<style>
    .table th, .table td {
        text-align: center;
        height:38px;
    }
</style>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="{U('Index/index')}" title="返回首页" class="tip-bottom"><i class="icon-home"></i> 首页</a>
            <a href="#" class="current">商品分类</a>

        </div>
    </div>
    <div class="widget-content">
        <div><a href="__URL__/one" class="btn btn-success">增加分类</a></div>
        <table class="table">
            <thead>
            <tr>
                <th>分类名称</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody aria-relevant="all">
            <volist name="list" id="vo">
                <eq name="vo.sid" value="0" >
                    <tr>
                        <td>{$vo.title}</td>
                        <td>
                            <eq name="vo.is_show" value="1">是<else/>否</eq>
                        </td>
                        <td><a href="__URL__/one?id={$vo.id}" class="btn btn-primary btn-mini">修改</a><a href="javascript:if(confirm('确实要删除该内容吗?'))location='__URL__/del?id={$vo.id}'" class="btn btn-danger btn-mini">删除</a></td>
                    </tr>
                    <volist name="list" id="vo1">
                        <eq name="vo1.sid" value="$vo['id']">
                            <tr>
                                <td>┗ {$vo1.title}</td>                            
                                <td>
                                    <eq name="vo1.is_show" value="1">是<else/>否</eq>
                                </td>
                                <td><a href="__URL__/one?id={$vo1.id}" class="btn btn-primary btn-mini">修改</a><a href="javascript:if(confirm('确实要删除该内容吗?'))location='__URL__/del?id={$vo1.id}'" class="btn btn-danger btn-mini">删除</a></td>
                            </tr>

                        </eq>
                    </volist>
                </eq>
            </volist>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
<include file="Head:foot"/>